# Application
NODE_ENV=development
PORT=8000

# Database
MONGODB_URI=

# Redis
REDIS_URL=

# C++ Quant Engine
CPP_ENGINE_URL=http://localhost:9000

# Authentication
JWT_SECRET=

# Logging
LOG_LEVEL=info