# ==============================
# Node
# ==============================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# Environment
# ==============================

.env
.env.*
!.env.example

# ==============================
# Build
# ==============================

dist/
build/
out/
coverage/

# C++
cpp-engine/build/

# Frontend
frontend/.vite/

# Backend
backend/dist/

# ==============================
# IDE
# ==============================

.vscode/*
!.vscode/settings.json

.idea/

# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================

*.log
logs/

# ==============================
# Temporary
# ==============================

tmp/
temp/

# ==============================
# Generated datasets
# ==============================

data/raw/
data/processed/

# ==============================
# Benchmark results
# ==============================

benchmarks/results/

# ==============================
# Docker
# ==============================

docker/.env